@import "./theme-config.scss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: var(--text-color);

    background-color: var(--bg-color, #000);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
